@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-muted {
    @apply text-[#5e5f69] dark:text-white;
  }

  .text-section {
    @apply text-[#3f3f46] dark:text-white;
  }

  .surface-panel {
    @apply bg-[#fafafa] dark:bg-lighter-tr-black;
  }

  .resume-action {
    @apply flex items-center justify-center text-center bg-[#e7decc] dark:bg-lighter-tr-black rounded-md;
  }
}

.light {
  --color: rgba(221, 45, 74, 1);
}

.dark {
  --color: rgba(45, 221, 192, 1);
}

/* @keyframes drawPath {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0%;
  }
} */
.path {
  stroke-dasharray: 30% 5%;
  animation: animate 200s linear infinite alternate-reverse;
}

#path2 {
  stroke-dasharray: 80% 20%;
  animation: animate 100s linear infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 12433.8193359375;
  }
}
/* Media query for Text Reveal animation */
@media (min-width: 100px) and (max-width: 300px) {
  .custom-work-head,
  .custom-about-text {
    font-size: 12px;
    width: 98%;
    margin: 0 8px;
    overflow-x: scroll;
  }
}
/* Animation bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animation-bounce {
  animation: bounce 3s infinite;
}

/* Bounce back to top button */
.bounce {
  animation: bounceAnimation 0.5s ease infinite alternate;
}

@keyframes bounceAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
